.faq {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.faq-container {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-container h2.faq-title {
  color: #bfbfbf;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  margin-top: 50px;
  text-align: center;
}

.faq-container h2.faq-title span.faq-title-logo {
  font-family: 'Tsukimi Rounded', sans-serif;
}

.faq-container h2.faq-headline {
  font-size: 33px;
  text-align: center;
  color: black;
  font-weight: 500;
}

.faq-container h2.faq-headline span.faq-headline-logo {
  font-family: 'Tsukimi Rounded', sans-serif;
}

.faq-dropdown-container {
  margin-top: 20px;
  width: 100%;
}

.faq-dropdown-item {
  margin-bottom: 8px;
}

.faq-dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
  color: black;
  font-weight: 500;
}

.faq-content {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top center;
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
  padding: 10px;
  margin-top: 3px;
}

.faq-content.open {
  transform: scaleY(1);
  opacity: 1;
}